.fs1 {
    font-size: $fs-primary;
    line-height: $lh-primary;
}

.fs2 {
    font-size: $fs-primary - 16px;
    line-height: $lh-primary - 16px;
}

.fs3 {
    font-size: $fs-primary - 32px;
    line-height: $lh-primary - 32px;
}

.fs4 {
    font-size: $fs-primary - 40px;
    line-height: $lh-primary - 40px;
}

.fs5 {
    font-size: $fs-primary - 48px;
    line-height: $lh-primary - 48px;
}